<div class="row my-5">
  <div class="col">
    <h1 class="text-center mb-5">장바구니</h1>
    <div id="cart_list">핸들바스스크립트와데이터머지된코드삽입</div>
  </div>
</div>
<!--장바구니 템플릿-->
<script id="temp" type="text/x-handlebars-template">
  <table class="table table-striped">
      <tr>
          <td>{{title}}</td>
          <td>{{authors}}</td>
          <td>{{price}}</td>
          <td><button class="btn btn-danger btn-sm" data-isbn="{{ isbn }}">삭제</button></td>
      </tr>
  </table>
</script>
<script type="module">
  import { app } from '/javascripts/firebase.js'
  import { getDatabase, onValue, remove, ref } from "https://www.gstatic.com/firebasejs/11.7.3/firebase-database.js"
  const db = getDatabase(app)
  const uid = localStorage.getItem('uid')

  // 장바구니 목록
  onValue(ref(db, `cart/${uid}`), (snapshot) => {
    // 꺼내온 데이터를 핸들바스와 머지해야 하므로 반복문이 필요함
    // 그래서 데이터를 담을 배열을 하나 선언한다
    let rows = []
    snapshot.forEach(item => {
      rows.push({key: item.key, ...item.val()})
    }) // end of forEach
    const temp = Handlebars.compile.document.querySelector('#temp').innerHTML // temp = 핸들바스스크립트의 ID
    document.querySelector('#cart_list').innerHTML = temp(rows)
  })